body {
    background-color: black;
    font-family: Arial;
}

p {
    color: white;
    font-size: 20px;
    margin: 1px 0;
}

.video {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

.thumbnail {
    width: 600px;
    border-radius: 20px;
}

.profile-img {
    display: inline-block;
    margin: 5px 0 40px 0;
    border-radius: 100px;
    vertical-align: top;
}

.text {
    display: inline-block;
}

.title {
    font-weight: bold;
    margin-left: 20px;
}

.name,
.views {
    display: inline-block;
    margin-left: 20px;
}

.views {
    margin-right: 30px;
}

.date {
    display: inline-block;
}

.subtext,
.stats {
    margin-top: 1px;
}
